hr {
    border: 1px solid #49274A;
    border-radius: 1px;
    margin-bottom: 30px;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.column {
    margin-top: 40px;
    height: 80vh;
    width: 30vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.block {
    background-color: #F8EEE7;
    color: #49274A;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    flex: 1;
    overflow: auto;
}

.block-centered {
    background-color: #F8EEE7;
    color: #49274A;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.performance {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.performance > p {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tickets-btn {
    flex: 1;
    background-image: linear-gradient(to right, #FF8008 0%, #FFC837  51%, #FF8008  100%);
    margin: 10px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    display: block;
    align-self: flex-end;
}

.tickets-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0 12px rgba(255, 0, 0, 1),
                0 0 12px rgba(255, 154, 0, 1);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: #F4DECB;
    margin: 10px;
    padding: 10px;
    color: #49274A;
    border-radius: 10px;
    margin-left: 0;
}